@model IEnumerable<WebApplication6.Models.Запрос1_Result>


@{
    ViewBag.Title = "Запрос 1";
}

<h2>Результат запроса 1</h2>


<table class="table">
    <tr>
        <th>
            <p class="h5">№ запроса</p>
        </th>
        <th>
            <p class="h5">Статус заявки</p>
        </th>
        <th>
            <p class="h5">Заявка</p>
        </th>
        <th>
            <p class="h5">ФИО пользователя</p>
        </th>
        <th>
            <p class="h5">Подразделение</p>
        </th>
        <th>
            <p class="h5">Время заявки</p>
        </th>
        <th>
            <p class="h5">Комментарий администратора</p>
        </th>        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.C_)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Статус_заявки)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Заявка)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.ФИО_пользователя)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Подразделение)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Время_заявки)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelItem => item.Комментарий_администратора)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Вернуться к Запросу 1", "Index")
</div>